<footer class="footer" style="background-color: #1C1B29;">
    <div class="content has-text-centered has-text-white">
      <p>
        Copyright © <a href="/"><%= bot.user.username %></a> - All Rights Reserved.
        <br><small>This dashboard is not affiliated with Discord, Inc.</small>
      </p>
    </div>
  </footer>

</body>

</html>