# The values can be obtained from the Discord Developer Portal. Create an application here https://discord.com/developers/applications

# This is your bot token. Do not show anyone this!
TOKEN=

# The Client ID is the unique identifier of the bot.
CLIENT_ID=

# The Client Secret is important as well, don't show that! It is used for the Dashboard.
CLIENT_SECRET=

# The port to run the Application on.
PORT=3000

# The Redirect URL. Don't include the port if it is port 80.
CALLBACK_URL=http://localhost:3000/login