<%- include("partials/header") %>

<title>404 Not Found » <%= bot.user.username %> Dashboard</title>

<div class="bg-light text-dark has-text-centered" style="padding-top: 65px;">
    <div class="p-5">
        <div class="container">
          <h2 class="is-size-2 has-text-white">404 - Not Found</h2>
        </div>
    </div>
</div>